### 1. Make a variable named 'a' with a number in it and check whether it is `greater than or equal` to 50

In [1]:
a=57
print(a>=50)

True

### 2. Define two different string variables. Use a 'not equal to` comparison to see if they are the same. You should have two different strings and the result of your check should be a True output (i.e., it is True that they are not equal to each other)

In [2]:
var1='apples'
var2='bananas'
var1!=var2

True

### 3. Use a `for loop` and `if/else statement` statement to find whether a list of numbers is `odd or even`. The list should contain the following numbers: 2, 48, 19, 58, 475, 38, 1919, 44.

For each number in the list of numbers you should print out the number itself and whether it is even or odd.

<div class="alert alert-block alert-info">
Hint: When divided by 2, all even numbers have a 0 remainder and all odd numbers have 1 as the remainder.
</div>

In [2]:
import time
num_ls=[2,48,19,58,475,38,1919,44]
for num in num_ls:
    if num%2==1:
        print(f'{num} is a odd number')
    elif num%2==0:
        print(f'{num} is an even number')
        time.sleep(.2)

2 is an even number
48 is an even number
19 is a odd number
58 is an even number
475 is a odd number
38 is an even number
1919 is a odd number
44 is an even number

### 4. Use `membership operators` to check the following conditions:

- Get a Boolean True or False that indicates whether 2 `is in` the last list you created 
- Get a Boolean True or False that indicates whether 59 `is not in` the list you created


Examples:
```
list_of_numbers = [1,2,3,4,5]

# check if 5 is in the list
5 in list_of_numbers

# check if 6 is not in the list
6 not in list_of_numbers

```

<div class="alert alert-block alert-info">
Hint: review the section <strong>Membership Operators (in and not in)</strong> in the checking_conditions_Booleans.ipynb notebook
</div>

In [4]:
print(2 in num_ls)

True

In [5]:
print(59 not in num_ls)

True

### 5. Use a `membership operator` to find whether a string object is within another string object

You will need to first define to string and then use "in" or "not in" just like with lists.

In [6]:
str1='day'
str2='tuesday'
str1 in str2

True

### 6. Use the range function in a for loop to display the numbers 0 to 25

<div class="alert alert-block alert-info">
Hint: review the section <strong>The range() data type</strong> in the flow_control_forloops_ifelse.ipynb notebook
</div>

In [7]:
for i in range(26):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### 7. Use the range function in a for loop to display all the even numbers in the range 20-26

In [22]:
for i in range(20,27, 2):
    print(i)

20
22
24
26

### 8. Use the range function in a for loop to display all odd numbers from 1-50, backwards

In [21]:
for i in range(50,0,-1):
    if i%2==1:
        print(i)

49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1

### 9. Use len() and range() in a for loop to print out all values and the corresponding index value of this list iteratively:
<code> list = ['first', 'second', 'third']</code>

On each pass through the loop you should be priting both the current index position and the value in the list.

In [10]:
animals=['cat','dog','bird']
for idx in range(len(animals)):
    print(animals[idx])

cat
dog
bird

### 10. Print out all the values of that list in a for loop without using the range function

<div class="alert alert-block alert-info">
    Hint: This will be an example of looping directly over items in an <i>iterable</i> object. Check the section <b>For Loops using Sequential Data Types</b> in flow_control_forloops_ifelse.ipynb 
</div>

In [11]:
for i in animals:
    print(i)

cat
dog
bird

### 11. Create a for loop that goes through the list of email addresses defined in the code cell below and makes a new list composed of only those students with a hotmail.com address

You will need to use the following concepts: for loop, if statement to check if hotmail.com is an an address, appending the hotmail email addresses to a new list called hotmail.

<div class="alert alert-block alert-info">
Hint: You can use membership operators to check if the value in the list is a hotmail address. 
</div>

In [12]:
# original list
email_list = ['student1@hotmail.com',
              'student2@gmail.com',
              'student3@hotmail.com',
              'student4@gmail.com',
              'student5@gmail.com', 
              'student6@nyu.edu']

# an empty list that we will fill up with hotmail addresses
hotmail = []

In [13]:
for email in email_list:
    if 'hotmail' in email:
        hotmail.append(email)
print(hotmail)

['student1@hotmail.com', 'student3@hotmail.com']

### 12. Using the same email list, modify your code so that we also end up with a list of students who have nyu.edu email addresses

The result of your code should be two lists (hotmail and nyu) that contain the relevant student emails from the original `email_list`

In [14]:
hotmail = []
nyu=[]
for email in email_list:
    if 'hotmail' in email:
        hotmail.append(email)
    elif 'nyu' in email:
        nyu.append(email)
print(hotmail)
print(nyu)

['student1@hotmail.com', 'student3@hotmail.com']
['student6@nyu.edu']

### 13. Using two for loops (nested), print every individual value in this list of lists:


<code>all_data = [['student1', 'student2', 'student3'],['brown', 'blonde', 'blue'],['brown','brown','brown'],['a masters','a masters','a bachelors']]
</code>

In [1]:
# this is a list of lists
all_data = [['student1', 'student2', 'student3'],
            ['brown', 'blonde', 'blue'],
            ['brown','brown','brown'],
            ['a masters','a masters','a bachelors']]

# hint: each entry in all_data is a list, so we can get
# values from the sublists using code like this
# store the first entry from all_data in sub_list
# check the second entry in that list:
sub_list = all_data[0]
print(f'approach one: {sub_list[1]}')


# or chain the indexing together
print(f'approach two: {all_data[0][1]}')

approach one: student2
approach two: student2

In [16]:
for ls in all_data:
    for val in ls:
        print(val)

student1
student2
student3
brown
blonde
blue
brown
brown
brown
a masters
a masters
a bachelors

### 14. Using two for loops (nested), generate this output:

Using the two lists defined below, make output that looks like this:


student1 has <br>
brown hair<br>
brown eyes<br>
a masters degree<br>

student2 has<br>
blonde hair<br>
brown eyes<br>
a masters degree<br>

student3 has<br>
blue hair<br>
brown eyes<br>
a bachelors degree<br>


**This one is hard**! The all_data variable is a list of lists containing information about three students. Each sublist (student id, student hair color, student eye color, and student degree obtained) has three positions corresponding to each of the three students. So student1 is index position 0 whithin each of those sublists, student2 is index position 1, etc.

In [17]:
# Use these lists
all_data = [['student1', 'student2', 'student3'],
            ['brown', 'blonde', 'blue'],
            ['brown','brown','brown'],
            ['a masters','a masters','a bachelors']]

attribute_list = ['hair', 'eyes', 'degree']

In [18]:
for i in range(len(attribute_list)):
    print(f'{all_data[0][i]} has')
    for j in range(len(all_data[i])):
        ii=j+1
        print(all_data[ii][i], attribute_list[j])
    print('\n')

student1 has
brown hair
brown eyes
a masters degree


student2 has
blonde hair
brown eyes
a masters degree


student3 has
blue hair
brown eyes
a bachelors degree