# Overview

organized by *Paul Squires and Shannon Tubridy* 

thanks to *Todd Gureckis* for providing open licensed materials


- This notebook continues to introduce Python.
    - Checking if conditions are met
    - Boolean variables for True and False values

## Boolean Data Type and Comparison Operations

We will often want to check if various conditions are true or false. 

For example:

- are two numbers are equal to each other?
- are two strings are the same as each other?
- is one number is greater or lower than another number?
- and so on

Python provides a number of different _comparison operations_ as well as a special data type called a Boolean that can take two values: either True or False.

### Check if two numbers are equal to each other using `==`

In [1]:
42==41

False

In [2]:
42==42

True

In [3]:
a = 32
a == 40

False

In [4]:
a == 32

True

### Check greater than or less than using `>` and `<`

In [5]:
42 > 40

True

In [6]:
42 < 40

False

In [7]:
a=31

In [8]:
print(a == 32)
print(a < 40)

False
True

In [9]:
a < 32

True

### Check "greater than or equal to" or "less than or equal to" using `>=` (greater or equal) and `<=` (greater or equal)

In [10]:
a <= 32

True

In [11]:
a >= 32

False

In [ ]:
a <= 31

### Check NOT EQUAL TO using `!=`

<b>The ! symbol is the negation of is equal.</b> So != means not equal to. To check if two things are not equal you can either check for an output of False using == or use the ! to say not equal.

In [12]:
# is 23 equal to 24? False
23 == 24

False

In [14]:
# is 23 not equal to 24? True
23 != 24

True

<div class="alert alert-info">
<b>Python tells us whether the statement we are asserting is True or False, and it is True that 23 is not equal to 24</b>
</div>

In [15]:
42 == 42.0

True

Can a number be equal to a string? No.

In [16]:
42 == '42'

False

In [17]:
# but if we convert the number to a string or the string 
# to a number we can do the comparison

# convert 42 to a string:
str(42) == '42'

True

In [18]:
# convert string '42' to a number
42 == int('42')

True

### Check if two strings are the same using `==` or if they are different using `!=`

In addition to comparing numbers, the `==` and `!=` comparisons can be used to determine whether two strings are the same.

In [21]:
# check if two strings are the same
'hi' == 'hi'

True

In [23]:
# check if two strings are the same
'dog' == 'cat'

False

In [24]:
# check if two strings are NOT the same
'dog' != 'cat'

True

In [25]:
# values to compare can be in variables
month1 = 'sept'
month2 = 'nov'

month1 == month2

False

In [26]:
month1 != month2

True

In [27]:
correct_response = 'meiosis'
actual_response = 'meiosis'

correct_response == actual_response

True

### Combine string comparison with an if statement to control the flow of the code

*We will discuss the details of if/else in the next notebook

For now, just focus on how the print statement that gets run depends on whether the comparison of correct response to actual response is True or False

In [28]:
# a version with actual_response the same as correct_response
correct_response = 'meiosis'
actual_response = 'meiosis'

if correct_response == actual_response:
    print('correct')
    
else: 
    print('incorrect')

correct

In [29]:
# a version with actual_response the same as correct_response
correct_response = 'mitosis'
actual_response = 'meiosis'

if correct_response == actual_response:
    print('correct')
    
else: 
    print('incorrect')

incorrect

### Checking multiple conditions using **logical operators**

We can use logical operators (`and`, `or`, and `not`) that combine multiple boolean expressions or values and provide a single boolean output.

#### Linking condition checks with 'and' will return True if **all** of the individual checks are True and False otherwise

In [30]:
# is 1 the same as 1 AND is 2 the same as 2? True
(1==1) and (2==2)

True

In [31]:
# is 1 the same as 2 AND is 2 the same as 2? False because one of the clauses is False
(1 == 2) and (2 == 2)

False

In [32]:
# three comparisons joined with and
# all three would need to be True for the whole thing to 
# be True
month1 = 'sep'
month2 = 'nov'
(1==1) and (2==2) and (month1==month2)

False

The previous example evaluates to False because month1 and month2 are not the same.

### You can also evaluate whether something is _not_ true, like this:

In [33]:
not 2==3

True

In the previous example we essentially are asking "Is it not True that 2 is equal to 3?" and because 2 isn't equal to 3 that whole statement is True

Usually a single not-equal comparison will use `!=` and `not` is commonly used to check combinations of conditions

In [34]:
# 
a = 1
b = 1

c = 2
d = 2

(a==b) and not (c==d)

True

The above example gives False because 1==1 is True, but so is 2==2, and we asked for the whole statement to be evaluted for the question: is 1 equal to 1 **and** 2 is not equal to 2.

In [35]:
# Check if some participant in an experiment
# has an id number less than 100 AND whether they 
# are NOT in the control group

# the participant_id:
participant_id = 99

# the participants experimental group
participant_group = 'control'

# check if id is less than 100 AND participant group is NOT control
(participant_id < 100) and not (participant_group == 'control')

False

In [36]:
# this whole expression gives True because 2+2=4, 2*2=4, and 2+2 is not equal to 5
(2 + 2 == 4) and (2 * 2 == 4) and not (2 + 2 == 5)

True

In [37]:
2 + 2 == 4 and 2 + 2 == 5

False

### Using `or` will evalute to True if any of the conditions is True, even if one or more is False:

In [38]:
# this will evaulate to True as long as at least one of the 
# comparisons is True
2 + 2 == 4 or 2 + 2 == 5 or 1 > 11

True

In [39]:
'a' == 'b' or 2+2==5

False

Using parentheses we can group compound expressions

In [40]:
# check whether either 2+2 is 4 AND 3+2 is 5 OR 
# just whether a is the same as c
(2 + 2 == 4 and 2 + 3 == 5) or 'a'=='c'

True

The next code will check if the participant is an ID less than 99, whether they are not in the 'control' group and that compound expression will evaluate to True or False and then combine it with a check for whether this person's accuracy was at least .65

In [ ]:
participant_id = 99
participant_group = 'groupA'
participant_accuracy = .72

min_accuracy = .65


(participant_id < 100 and not participant_group == 'control') and participant_accuracy > min_accuracy

In [41]:
a = 23
b = 15
(a>b) and (a+b<40)

True

In [42]:
(a<b) or (a+b>33)

True

### The result of a comparison (the True or False output) can be stored in a variable for later use:

In [43]:
# make an integer variable and check its type
b = 23
type(b)

int

In [44]:
# store result of a < b comparison in a variable and check its type
result = a < b
print(result)
type(result)

False

bool

## Boolean True and False values

The result of the condition checks we just did is an output of True or False.

These outputs are of the type Boolean (bool) and although they look like words they are not strings:

In [45]:
result = a < b
print(result)

False

boolean is a type of data, as bool, not a string

In [46]:
result == 'False'

False

In [47]:
True == 'True'

False

In [48]:
result == True

False

In [49]:
result == False

True

In [50]:
False == 0

True

In [51]:
True == 1

True

We will make extensive use of these Boolean values when we build more complicated code that takes different actions depending on various conditions being met or not.

Here is an example use to check if a number is odd or even

In [ ]:
# make a list of numbers to check
one_number = 1
num_list = [one_number, 99, 7, 99, 12345, 78, 3, 654 ,31, 444, 12]


# Loop over the list of numbers one at a time, 
#  putting the current value into n

# Check if remainder of division of 
#  current n by 2 is equal to 0

# If it is equal to zero print 'even'
#  otherwise, print 'odd'

for n in num_list:

    if (n%2)==0:
        print(f'{n} is even')
        
    else:
        print(f'{n} is odd')

### for loop and if/else

The previous cell gave another glimpse of what's coming next: for loops to repeat some block of code and if/else statements to control which code runs depending on some condition checks.

## Membership Operators (`in` and `not in`)

`in` and `not in` check whether some value appears in another variable. 

For example: is some number or string in a list of values. The result `in` and `not in` is a Boolean True/False

In [52]:
# make a list of numbers
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums)

# append a number to the end
nums.append(11)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### `in` returns True if the thing on the left appears in the thing on the right and False if not

In [53]:
# Check if 2 is in nums list
print(nums)
2 in nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

True

In [54]:
11 in nums

True

### `not in` returns True if the thing on the left is NOT IN the thing on the right and False if it is

In [55]:
# remind ourselves about the numbers
print(nums)

# check if 11 is not in the list
11 not in nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

False

In [57]:
# returns true of the left value (99) is not in the right hand
# object (nums)
99 not in nums

True

In [58]:
# in works with strings as well
list_of_peeps = ['shannon', 'marishka', 'youssef']

# shannon is in the list so this is True
'shannon' in list_of_peeps

True

In [59]:
# david is not in the list so this is False
'david' in list_of_peeps

False

In [60]:
# david is not in the list so this is True
'david' not in list_of_peeps

True

The 'in' and 'not in' checks an be used on a list, like above, or on a string like this:

In [61]:
month = 'september'
'nov' in month

False

In [62]:
# the value to look for can be in a variable
month = 'november'
search_pattern = 'nov'

search_pattern in month

True

### Exercise: check if the following filename is an excel file (ends with xlsx)

In [1]:
fname = 'survey_results_site5.xlsx'
ftype = 'xlsx'
if ftype in fname:
    print("open the file")
else:
    print("unrecognized file type")

open the file